/*
Primary Color = #1b1464
*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

html,body {
position: absolute;
  padding: 0;
  margin: auto 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

body {
	overflow-x: hidden;
}

#blockMain {
  background-color: white;
  height: 100%;
  width: 100%;
	padding: 0;
  float: top;
  margin: 0 auto;
}

#features {
	padding-top: 5em;
	padding-bottom: 7em;
	background-color: white;
	text-align: center;
	width: 100vw;
}

#about {
	padding-top: 5em;
	padding-bottom: 7em;
	background-color: white;
	width: 75vw;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

#download {
	padding-top: 5em;
	padding-bottom: 7em;
	background-color: white;
	width: 75vw;
	position: relative;
  left: 50%;
  transform: translateX(-50%);
	text-align: center;
}

#footer {
	background-color: #1b1464;
	color: white;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 100vw;
	text-align: center;
}

.sectionTitle {
	font-size: 3.25em;
	font-family: "Roboto Slab";
	color: #1b1464;
}

table {
	width: 75vw;
	margin: 0 auto;
	table-layout: fixed;
}

featuresTR {
	width: 33%;
}

.featureImg {
	width: 8.5em;
	height: 8.5em;
	padding-bottom: 2.5em;
}

.featureTitle {
	font-family: "Roboto Slab";
	font-size: 2.25em;
}
.sectionDesc {
	color: black;
	font-size: 1.25em;
	font-family: "Roboto";
	font-weight: 400;
}

.titleArea {
  position: absolute;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  padding: none;
}

.thumbnail {
  top: 0;
  left: 0;
	padding-top: 2em;
	padding-left: 2em;
  position: absolute;
}

.startScrollContainer {
  text-align: center;
}

a {
	cursor: pointer;
}


.startScroll {
	width: 2em;
	height: 2em;
	transition: 0.5s;
}

.startScroll:hover {
	transform: translateY(.5em);
}

.parallax {
  background-image: url("../img/background.jpg");
	width: 100%;
	margin: 0 auto;
  min-height: 25%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	z-index: 0;
}

.device-container {
	width: 225px;
}

.img-fluid {
	width: 200px;
}

.leftscreenshot {
	padding-right: 2em;
	float: right;
}

.rightscreenshot {
	padding-left: 2em;
	float: left;
}

#desktop {display: inline;}
#mobile {display: none;}
#desktop-table {display: inline-table;}
#mobile-table {display: none;}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){
		#mobile {display: inline;}
		#mobile-table {display: inline-table;}
		#desktop {display: none;}
		#desktop-table {display: none;}

		body {
			font-size: 200%;
		}
}


.privacyLink {
	font-size: 1.1em !important;
}
.privacyLink:hover {
	text-decoration: none !important;
}
.footerText {
	color: white;
}
