<ion-header>
  <ion-toolbar *ngFor="let dm of displayMessage" color="primary">
    <ion-buttons [routerLink]="['/classes']" [queryParams]="{id: dm.superID}" slot="start">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>Messages</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card *ngFor="let dm of displayMessage" color=primary>
        <ion-card-header>
          <ion-card-subtitle>{{ dm.author }}</ion-card-subtitle>
          <ion-card-title>{{ dm.title }}</ion-card-title><br>
          <ion-card-subtitle>{{ dm.date }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <ion-card *ngFor="let dc of displayComments">
          <ion-card-header>
            <ion-card-subtitle>{{ dc.author }}</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
              {{ dc.title }}
          </ion-card-content>
        </ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar class="messageBar">
    <form  #form="ngForm" (ngSubmit)="sendMessage(form)">
      <ion-grid>
        <ion-row>
          <ion-input type="text" name="title" ngControl="title" placeholder="Enter Message"></ion-input>
          <ion-button type="submit" fill=clear>
            <ion-icon slot="icon-only" name="send"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-grid>
    </form>
  </ion-toolbar>
</ion-footer>

