<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let c of classes">
    <ion-reorder-group id="reorder">
    <ion-card button=true class="welcome-card" href={{c.url}}>
      <ion-img src={{c.img}}></ion-img>
      <ion-fab size="small" vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button color="light" >
          <ion-icon name="cog"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-card-header>
        <ion-card-subtitle>Period {{c.period}}</ion-card-subtitle>
        <ion-card-title>{{c.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{c.desc}}</p>
        </ion-card-content>
        <ion-reorder slot="end"></ion-reorder>
    </ion-card>
    </ion-reorder-group>
  </ion-list>
</ion-content>
